body {
}
tr{

}
td{

}
div{

}
.calendar{
    
}

.buttonRight {
    float: right;
}

.homeButton{
    float:left;
}

.calendarButton{
    border-radius:6px!important;
    align-content:center;
    align-items:center;
    justify-content:center;
    justify-items:center;
}